@import '../styles/variables.scss';

.aboutContainer {
  min-height: calc(100vh - #{$header-height});
  width: 100%;
  background: url(../images/manhattan.jpg);
  background-size: cover;
  background-position: right top;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);

  position: relative;
}

.aboutWrapper {
  display: grid;
  // grid-gap: 0;
  grid-template-areas:
    "sidebar"
    "content";
}

.content {
  padding: 2rem;
  color: white;
}

.portrait {
  border-radius: 50%;
  background: rgba(127,127,127,0.7);
  width: 200px;
  box-shadow:inset 0px 0px 0px 10px #000;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .aboutWrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "sidebar content";
  }
  .sidebar {
    background-color: #23020a;
    min-height: calc(100vh - #{$header-height});
    min-width: calc(200px + 4rem);
    -webkit-mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
    mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
  }
  .content {
    padding: 6rem;
  }
}

.mainNav {
}

@media (max-width: 767.992px) {
  .mainNav {
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content:center;
    max-height: 114px;
    &:first-child {
      margin-left: 0;
    }
  }
  .mainNav li {
    margin: 0;
    margin-left: 2rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .iconLink {
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  .mainNav {
    margin: 0;
    padding: 0;
  }
}

.icon {
  width: 64px;
  height: 64px;
  &:hover {
    opacity: 0.5;
  }
}
