@import '../styles/variables.scss';

.headerSpacer {
  width: 100%;
  height: $header-height;
}

.mainContainer {
  // background: #f1f0f0;
  // background: #e4e7e8;
  margin: 0 auto;
  margin-top: $header-height;
  // max-width: 850px;
  min-height: calc(100vh - #{$header-height});
}
